.popup__close-button {
    position: absolute;
    top: -36px;
    right: 0;
    background: rgba(0, 0, 0, 0) url(../../../images/popup/popup-close-button.svg) center no-repeat;
    width: 20px;
    height: 20px;
    border: 0;
    transition: all 1s linear 0s;
}

.popup__close-button:hover {
    opacity: 60%;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .popup__close-button {
        top: -40px;
        right: -40px;
        background-size: contain;
        width: 32px;
        height: 32px;
    }
}