.popup__error {
    display: block;
    min-height: 24px;
    color: #FF0000;
    font-size: 12px;
    text-align: left;
    width: 100%;
    margin: 0 0 13px 0;
}

.popup__error:last-of-type {
    margin-bottom: 31px;
}