.card {
    position: relative;
    margin: 0 auto 20px;
    min-height: 361px;
    background: #FFFFFF;
    border-radius: 10px;
}

.card:last-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .card {
        margin: 0;
    }
}