.profile__edit-button {
    background: #000000 url(../../../images/profile/profile-edit-button.svg) center no-repeat;
    width: 18px;
    height: 18px;
    border: 0;
    position: absolute;
    top: 8px;
    left: 199px;
}

.profile__edit-button:hover {
    opacity: 60%;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .profile__edit-button {
        background-size: contain;
        width: 24px;
        height: 24px;
        top: 15px;
        left: 312px;
    }
}