.page {
    background: #000000;
    min-width: 320px;
    max-width: 880px;
    margin: auto;
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}